body {
	font-family: 'Mulish', sans-serif;
}
header,
main {
	max-width: 1440px;
	margin: 0 auto;
}

/* shared style  */

.text-light-gray {
	color: #807d7d;
	font-size: 1rem;
	font-weight: 400px;
}

.btn-primary {
	width: 174px;
	height: 52px;
	border-radius: 8px;
	background: #ff5400;
	padding: 18px 0;
	border-style: none;
	color: #fff;
}

/* navbar section style  */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-header {
	display: flex;
	gap: 20px;
	align-items: center;
}
.nav-header img {
	width: 48px;
	height: 56.008px;
}
.nav-header .bold {
	font-size: 2.5rem;
	font-weight: 800;
}
.perk {
	color: #ff5400;
}

nav ul {
	display: flex;
	gap: 24px;
	list-style: none;
}

nav ul a {
	text-decoration: none;
}
/* banner section styles  */

.banner {
	width: 1420px;
	height: 500px;
	width: 100%;
	background-image: url(Images/group13.png);
	background-size: cover;
	text-align: center;
	padding-top: 50px;
}
.banner .banner-heading {
	font-size: 4rem;
	font-weight: 800px;
	color: #fff;
}
.input-list {
	background: rgba(255, 255, 255, 0.3);
	/* background-color: aqua; */
	position: relative;
	border-radius: 8px;
	padding: 20px;
	max-width: 800px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.input-list input {
	width: 174px;
	height: 52px;
	border-radius: 8px;
	border-style: none;
}

/* our tour section  */

.our-tour {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 70px 0;
	align-items: center;
}

/* deal destinaiton section  */
.deal-section {
	margin: 100px 0;
	text-align: center;
}
.deal-destination-card .row {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-top: 24px;
}
.deal-destination-card .row img {
	width: 100%;
}

/* media queary section for mobile device */

@media screen and (max-width: 600px) {
	.input-list,
	.our-tour,
	.row,
	nav {
		flex-direction: column;
	}

	.input-list {
		/* flex-direction: column; */
		width: 100%;
		margin: 10px 20px;
		right: 60px;
	}
	.input-list input {
		margin: 20px 0;
	}
	.banner {
		height: 100%;
	}
	.tour-image img {
		width: 100%;
	}
	main,
	header {
		padding: 0 10px;
	}
}
