body {
	font-family: 'Mulish', sans-serif;
}
header,
main {
	max-width: 1440px;
	margin: 0 auto;
}

/* shared style section */

.text-light-gray {
	color: #807d7d;
	font-size: 1rem;
	font-weight: 400px;
}
.color-orang {
	color: #ff5400;
}

.btn-primary {
	width: 174px;
	height: 52px;
	border-radius: 8px;
	background: #ff5400;
	padding: 18px 0;
	border-style: none;
	color: #fff;
}

/* navbar section style  */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-header {
	display: flex;
	gap: 20px;
	align-items: center;
}
.nav-header img {
	width: 48px;
	height: 56.008px;
}
.nav-header .bold {
	font-size: 2.5rem;
	font-weight: 800;
}
.perk {
	color: #ff5400;
}

nav ul {
	display: flex;
	gap: 24px;
	list-style: none;
}

nav ul a {
	text-decoration: none;
}
/* banner section styles  */

.banner {
	width: 1420px;
	height: 500px;
	width: 100%;
	background-image: url(Images/group13.png);
	background-size: cover;
	text-align: center;
	padding-top: 50px;
}
.banner .banner-heading {
	font-size: 4rem;
	font-weight: 800px;
	color: #fff;
}
.input-list {
	background: rgba(255, 255, 255, 0.3);
	/* background-color: aqua; */
	position: relative;
	border-radius: 8px;
	padding: 20px;
	max-width: 800px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.input-list input {
	width: 174px;
	height: 52px;
	border-radius: 8px;
	border-style: none;
}
.input-list i {
	margin-left: -50px;
}
/* our tour section  */

.our-tour {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 70px 0;
	align-items: center;
}

/* deal destinaiton section  */
.deal-section {
	margin: 100px 0;
	text-align: center;
	width: 100%;
}
.deal-destination-card .row {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-top: 24px;
}
.deal-destination-card .row img {
	/* width: 100%; */
}

/* choose us section  */
.choose-us {
	text-align: center;
	margin: 70px 0;
}
.choose-us-description {
	width: 573px;
	height: 200px;
	margin: 0 auto;
}
.choose-us-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
}
.choose-card-one {
	width: 573px;
	height: 200px;
	padding: 30px 0;
	border-radius: 16px;
	border: 1px solid rgba(251, 181, 99, 0.2);
	background: rgba(251, 181, 99, 0.05);
}
.choose-card-two {
	width: 573px;
	height: 200px;
	padding: 30px 0;
	border-radius: 16px;
	order: 1px solid rgba(41, 206, 246);
	background: rgba(41, 206, 246, 0.05);
	margin-top: 20px;
}
.single-card {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.choose-card-three {
	width: 573px;
	height: 200px;
	padding: 30px 20px;
	border-radius: 16px;
	border: 1px solid rgba(233, 68, 68, 0.2);
	background: rgba(233, 68, 68, 0.05);
}

/* simple perfact place section style  */

.simple-perfact {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 70px 0;
	align-items: center;
}

.group-40 img {
	width: 500px;
	width: 100%;
}
/* newsletter section style  */
.news-letter {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 70px 0;
	align-items: center;
}
.news-letter-inpu-filed input {
	width: 393px;
	height: 52px;
	margin-bottom: 10px;
	border-radius: 8px;
	background: rgba(19, 19, 24, 0.05);
	border-style: none;
}
.news-letter-inpu-filed {
	width: 100%;
}
.group-41 img {
	width: 100%;
}

/* deal and discount section style  */

.deal-discount {
	text-align: center;
	margin: 70px 0;
}
.discount-offer {
	/* width: 1420px; */
	height: 600px;
	width: 100%;
	background-image: url(Images/Group\ 39.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 50px;
	margin: 50px 0;
	box-sizing: border-box;
}

.discount-offer-middle {
	height: 600px;
	width: 100%;
	background-image: url(Images/Group\ 39.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 50px;
	margin: 50px 0;
	box-sizing: border-box;
}

.deal-image-one {
	width: 500px;
	height: 300px;
	border-radius: 16px;
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

/* footer section style  */
.footer {
	width: 100%;
	margin: 0 auto;
	height: 320px;
	text-align: center;
	background: rgba(19, 19, 24, 0.05);
	padding: 50px 0;
}
.contact-icon {
	display: flex;
	justify-content: center;
	gap: 24px;
}
/* media queary section for mobile device */

@media screen and (max-width: 600px) {
	.input-list,
	.our-tour,
	.row,
	.choose-us-card,
	.simple-perfact,
	.news-letter,
	nav {
		flex-direction: column;
	}

	.input-list {
		width: 100%;
		margin: 10px 20px;
		right: 60px;
	}
	.input-list input {
		margin: 20px 0;
	}
	.banner {
		height: 100%;
	}
	.tour-image img {
		width: 100%;
	}
	.group-40 img {
		width: 100%;
	}
	.group-41 img {
		width: 100%;
	}
	main,
	header {
		padding: 0 10px;
	}

	.discount-offer {
		justify-content: center;
		align-items: end;
		padding-right: 0;
		padding-bottom: 30px;
	}
	.discount-offer-middle {
		justify-content: center;
		align-items: end;
		padding-left: 0;
		padding-bottom: 30px;
	}

	.news-letter-inpu-filed {
		margin-right: 10px;
	}
	.choose-card-one,
	.choose-card-two,
	.choose-card-three,
	.choose-us-description,
	.deal-image-one,
	.discount-offer,
	.news-letter-inpu-filed {
		width: 100%;
	}
}
